* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'museo-sans';
}

.thc-home-section {
  width: 100%;
}

.thc-home-bg-tricentisblue {
  background-color: #004c97;
}

.thc-home-mb40 {
  margin-bottom: 40px;
}

.thc-home-wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

ul.thc-home-filter {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

ul.thc-home-filter > li {
  font-size: 12px;
  color: #fff;
  font-weight: lighter;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;
}

ul.thc-home-filter > li::after {
  content: '';
  height: 4px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

ul.thc-home-filter > li:hover::after {
  width: 100%;
}

ul.thc-home-filter > li.active::after {
  width: 100%;
}

ul.thc-home-filter > li.active {
  font-weight: bolder;
}

ul.thc-home-products {
  width: 100%;
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

ul.thc-home-products > li {
  height: 200px;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  ul.thc-home-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  ul.thc-home-products {
    grid-template-columns: 1fr;
  }
}
