* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    padding: 60px 16px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.35);
}

.collapsible {
    border-bottom: 1px solid #ededed;
}

button {
    border: none;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

button::after {
    content: '+';
    position: absolute;
    right: 0;
    top: 20px;
}

.active button::after {
    content: '–'
}

.info {
    display: none;
    padding: 0 0 20px;
}

.active .info {
    display: block;
}




